[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/for_your_date_api/venv/bin/uwsgi -i /home/ubuntu/for_your_date_api/.config/uwsgi/foryourdate.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target